html{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    height: 100%;
    width: 100%;
    background-image: url("resources/maxresdefault.jpg");
    background-size: 100%;
}

.wrap{
    height: 100vh;
}

td{
    border: 1px solid black; font-size: 25px; background: white;
    text-align: center;
}

#timer{
    background: indianred;
    width: fit-content;
    min-width: 100px;
    height: 60px;
    border: 2px solid black;
    border-radius: 10%;
    text-align: center;
    font-size: 50px;
    font-weight:bold;

    margin-left: auto;
    margin-right: auto;
}


.hints {
    background: indianred;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border-radius: 10px;
    display: flex;
}

.round-style{
    border: 2px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
}

.round-style p{
    margin: auto;
    font-weight: bold;
}

.questions {
    background: indianred;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    }

.question{
    margin: 10px;
}

.answers{
    margin: 10px;
}

.score{
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-weight: bold;
    background: white;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    border: 2px solid black;
    padding-inline: 5px;
}

.table{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
